<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
    <i class="icon on-android-calendar"></i>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-left': hasHeaderFableft}" align-title="left">
            <ion-nav-back-button class="no-text nav-back"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-android-menu" menu-toggle="left">

                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar  class="dark-bg expanded" style="background: url('img/login-bg.jpg'); background-size: cover;">
            <span class="avatar" style="background: url('img/profile.jpg'); background-size: cover;"></span>
            <h2>{{userName}}</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.profile">
                    <i class="icon ion-person"></i> {{profile}}
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.projects">
                    <i class="icon ion-filing"></i> {{projects}}
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.tasks">
                    <i class="icon ion-calendar"></i> {{tasks}}
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.updates">
                    <i class="icon ion-person-stalker"></i> {{updates}}
                </ion-item>
                <ion-item nav-clear menu-close ng-click="logout()">
                    <i class="icon ion-android-exit"></i> {{logoutL}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
